<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.duckduckgo.duckchat.impl.ui.DuckChatSettingsActivity"
            android:exported="false"
            android:label="@string/duck_chat_title"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
        <activity
            android:name="com.duckduckgo.duckchat.impl.ui.DuckChatWebViewActivity"
            android:exported="false"
            android:label="@string/duck_chat_title"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation|keyboard"/>
        <activity
            android:name="com.duckduckgo.duckchat.impl.ui.DuckChatWebViewPoCActivity"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation|keyboard"/>
        <activity
            android:name="com.duckduckgo.duckchat.impl.ui.SearchInterstitialActivity"
            android:exported="false" />
    </application>
</manifest>