<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duckduckgo.autoconsent.impl">

    <application>
        <activity
            android:name=".ui.AutoconsentSettingsActivity"
            android:exported="false"
            android:label="@string/autoconsentTitle"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
    </application>
</manifest>