<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.duckduckgo.daxprompts.impl.ui.DaxPromptDuckPlayerActivity"
            android:exported="false"
            android:label="@string/dax_prompt_duck_player_title" />
        <activity
            android:name="com.duckduckgo.daxprompts.impl.ui.DaxPromptBrowserComparisonActivity"
            android:exported="false"
            android:label="@string/dax_prompt_browser_comparison_title" />
    </application>
</manifest>