<?xml version="1.0" encoding="utf-8"?>


<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="com.duckduckgo.traces.impl.AppStartUpTracer"
            android:authorities="${applicationId}.appStartProvider"
            android:initOrder="2147483647"
            android:exported="false" />
    </application>

</manifest>