

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.duckduckgo.autofill.internal.AutofillInternalSettingsActivity"
            android:exported="true"
            android:label="@string/autofillDevSettingsTitle"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
    </application>
</manifest>