<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.duckduckgo.macos.impl.MacOsActivity"
            android:exported="false"
            android:label="@string/macos_app"
            android:parentActivityName="com.duckduckgo.app.settings.SettingsActivity" />
        <receiver
            android:name="com.duckduckgo.macos.impl.MacOsLinkShareBroadcastReceiver"
            android:exported="false" />
    </application>
</manifest>